@use "./variables" as *;

@mixin title-with-line(
  $font-size,
  $line-height,
  $margin-bottom,
  $margin-left,
  $padding-left,
  $padding-right,
  $line-top,
  $line-color: $color-green,
  $font-family: $font-accent,
  $font-weight: 400,
  $bg-color: $color-white
) {
  width: fit-content;
  margin: 0 auto $margin-bottom $margin-left;

  font-size: $font-size;
  line-height: $line-height;

  background-color: $bg-color;
  font-family: $font-family;
  font-weight: $font-weight;
  padding-left: $padding-left;
  padding-right: $padding-right;

  &::before {
    position: absolute;
    top: $line-top;
    left: 0;
    z-index: -1;

    width: 100vw;
    height: 2px;

    background-color: $line-color;
    content: "";
  }
}

@mixin typography($font-size: 16px, $line-height: 1, $font-weight: 400, $font-family: $font-accent) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
  font-weight: $font-weight;
}
