@use "./variables" as *;

@mixin container {
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding-left: 110px;
    padding-right: 110px;
  }
}
