@use "./variables" as *;

// @mixin container {
//   width: 100%;
//   padding-left: 20px;
//   padding-right: 20px;
//   margin: 0 auto;

//   @media (min-width: $tablet-width) {
//     max-width: $tablet-width;
//     padding-left: 30px;
//     padding-right: 30px;
//   }

//   @media (min-width: $desktop-width) {
//     max-width: $desktop-width;
//     padding-left: 110px;
//     padding-right: 110px;
//   }
// }

@mixin title-with-line(
  $font-size,
  $line-height,
  $margin-bottom,
  $margin-left,
  $padding-left,
  $padding-right,
  $line-top,
  $line-color: $color-green,
  $font-family: $font-accent,
  $font-weight: 400,
  $bg-color: $color-white
) {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  margin: 0 auto $margin-bottom $margin-left;
  width: fit-content;
  padding-left: $padding-left;
  padding-right: $padding-right;
  background-color: $bg-color;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    top: $line-top;
    left: 0;
    height: 2px;
    background-color: $line-color;
  }
}
