$font-accent: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

$color-black: #000000;
$color-white: #ffffff;

$color-gray-800: #222222;
$color-gray-700: #444444;
$color-gray-600: #666666;
$color-gray-500: #cdcdcd;
$color-gray-400: #d9d9d9;
$color-gray-300: #e6e6e6;
$color-gray-250: #eaeaea;
$color-gray-200: #ebebeb;
$color-gray-100: #f2f2f2;

$color-green:        #68b738;
$color-green-hover:  #5eaa2f;

$color-error:        #ff8282;

$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
