{
  "extends": [
    "stylelint-config-htmlacademy",
    "./.stylelintrc.thws-student.json"
],

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  }
}
