@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.button {
  display: block;

  padding: 11px 0;

  text-align: center;

  color: $color-white;

  background-color: $color-green;
  border: none;

  cursor: pointer;
  text-transform: uppercase;

  text-decoration: none;

  @include typography(14px, 18px, 400, $font-accent);

  @media (min-width: $tablet-width) {
    @include typography(20px, 20px, 400, $font-accent);
    padding: 17px 0;
  }
}

.button:hover {
  background-color: $color-green-hover;
}

.button:active {
  color: rgba($color-white, 0.3);

  background-color: $color-green-hover;
}

.button--secondary {
  color: $color-gray-700;

  background-color: $color-gray-100;

  &:hover {
    background-color: $color-gray-200;
  }

  &:active {
    color: rgba($color-gray-700, 0.3);

    background-color: $color-gray-200;
  }
}
