@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.button {
  display: block;

  @include typography(14px, 18px, 400, $font-accent);

  color: $color-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-green;
  border: none;
  cursor: pointer;

  text-decoration: none;
  padding: 11px 0;

  @media (min-width: $tablet-width) {
    @include typography(20px, 20px, 400, $font-accent);
    padding: 17px 0;
  }
}

.button--secondary {
  color: $color-gray-700;
  background-color: $color-gray-100;
}
