@use "../utils/variables.scss" as *;

.card-additional {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 325fr 326fr 244fr;
  }
}

.card-additional__name {
  color: $color-gray-800;

  font-family: $font-accent;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;

  margin: 0 0 13px 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    align-self: center;
  }
}

.card-additional__specification {
  color: $color-gray-700;

  line-height: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 92px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    align-self: center;
  }
}

.card-additional__definition {
  margin-left: 0;

  @media (min-width: $tablet-width) {
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.card-additional__button {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 26px;
    padding-block: 7px;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / -2;
  }
}
