@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.card-additional {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 325fr 326fr 244fr;
  }
}

.card-additional__name {
  margin: 0 0 13px 1px;

  color: $color-gray-800;
  text-transform: uppercase;

  @include typography(16px, 16px, 400, $font-accent);

  @media (min-width: $tablet-width) {
    @include typography(20px, 20px, 400, $font-accent);
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    align-self: center;
  }
}

.card-additional__specification {
  display: flex;
  justify-content: space-between;

  color: $color-gray-700;
  margin-bottom: 15px;

  @include typography(14px, 14px, 400, $font-body);

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 92px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 83px;
    margin-top: 5px;
    margin-bottom: 0;
    align-self: center;
  }
}

.card-additional__definition {
  margin-left: 0;

  @media (min-width: $tablet-width) {
    justify-self: end;

    @include typography(16px, 22px, 400, $font-body);
  }

  @media (min-width: $desktop-width) {
    justify-self: start;
  }
}

.card-additional__button {
  @include typography(16px, 20px, 400, $font-accent);
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;

    @include typography(16px, 26px, 400, $font-accent);

    padding-block: 7px;
    margin-left: -1px;
    margin-right: -1px;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / -2;
  }
}
