@use "../utils/variables.scss" as *;

.card-additional__name {
  color: $color-gray-800;

  font-family: $font-accent;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.card-additional__specification {
  color: $color-gray-700;

  line-height: 1;
}
