@use "../utils/variables.scss" as *;

.card__heading {
  font-family: $font-accent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.card__params {
  color: $color-gray-700;
  font-size: 12px;
}
