@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.card {
  display: grid;

  padding: 11px 6.25% 24px 6.25%;
  border-bottom: 1px solid $color-gray-200;
  grid-template-columns: 140fr 76fr 64fr;
  grid-template-areas:
    "image title ."
    "image specification specification"
    "order-button order-button order-button";

  @media (min-width: $tablet-width) {
    padding: 8px 36px 39px 36px;

    background: linear-gradient(to bottom, transparent 81px, $color-gray-100 81px);
    grid-template-columns: 1fr;
    grid-template-rows: 200px repeat(3, auto);
    grid-template-areas:
      "image"
      "title"
      "specification"
      "order-button";

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 3px 38px 40px 38px;

    grid-template-rows: 196px repeat(3, auto);
  }
}

.card__image-wrapper {
  grid-area: image;
  align-self: center;
  justify-self: center;
}

.card__image {
  display: block;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 196px;
  }
}

.card__heading {
  margin: 2px 0 0 0;

  grid-area: title;
  text-transform: uppercase;

  @include typography(16px, 20px, 400, $font-accent);

  @media (min-width: $tablet-width) {
    @include typography(20px, 24px, 400, $font-accent);

    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 6px;
  }

  @media (min-width: $desktop-width) {
    @include typography(20px, 23px, 400, $font-accent);

    margin-top: 42px;
    margin-bottom: 24px;
  }
}

.card__params {
  color: $color-gray-700;
  grid-area: specification;

  margin-top: 13px;
  margin-bottom: 9px;

  @include typography(12px, 15px, 400, $font-body);

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 26.5px;

    @include typography(16px, 16px, 400, $font-body);
  }
}

.card__param {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1px;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
    margin-bottom: 6.5px;
    border-bottom: 1px solid $color-gray-500;
  }
}

.card__button {
  padding: 10px 0;
  grid-area: order-button;
  margin-top: 13px;

  @include typography(16px, 20px, 400, $font-accent);

  @media (min-width: $tablet-width) {
    margin-left: 3px;
    margin-right: 1px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 1px;
    margin-right: 3px;
  }
}

.card__break-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.card__break-wide {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
