@use "../utils/variables.scss" as *;

.comment-section__name {
  font-family: $font-accent;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.comment-section__textarea {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
