@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.control {
  @include typography(16px, 18px, 400, $font-accent);
  color: $color-gray-800;
  text-transform: uppercase;
}

.control__input {
  display: none;
}

.control__name {
  cursor: pointer;
  padding-left: 45px;

  @include typography(16px, 30px, 400, $font-accent);

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 30px;
    height: 30px;

    background: #ffffff;
    border: 1px solid $color-gray-500;
    border-radius: 50%;
    content: "";
  }

  @media (min-width: $tablet-width) {
    @include typography(20px, 40px, 400, $font-accent);
    padding-left: 60px;

    &::before {
      width: 40px;
      height: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 58px;
  }

  &:hover {
    &::before {
      border-color: $color-gray-550;
    }
  }
}

.control__input:checked + .control__name::after {
  position: absolute;
  top: 8px;

  left: 8px;

  width: 13.5px;
  height: 13.5px;

  background: $color-green;
  border-radius: 50%;
  content: "";

  @media (min-width: $tablet-width) {
    top: 11px;
    left: 11px;

    width: 18px;
    height: 18px;
  }
}

.control__input[disabled] + .control__name {
  opacity: 0.3;
}

.control--checkbox .control__name::before {
  border-radius: 0;
}

.control--checkbox .control__input:checked + .control__name::after {
  top: 0;
  left: 0;

  width: 30px;
  height: 30px;

  background-color: transparent;
  background-image: url("../img/icons/checked.svg");
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    background-size: 24px 18.7px;
  }
}
