@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $color-gray-600;

  &__text {
    @include typography(16px, 16px, 400, $font-body);
    color: $color-gray-700;
    margin-left: -1px;
  }

  &:active {
    color: rgba($color-green, 0.3);

    & .copyright__text {
      color: rgba($color-gray-700, 0.3);
    }
  }

  &:hover {
    color: $color-green;

    & .copyright__text {
      color: $color-gray-700;
    }
  }

  @media (min-width: 360px) {
    justify-content: center;
    gap: 30px;
  }

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    gap: 0;
  }
}
