@use "../utils/variables.scss" as *;

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $color-gray-600;
}

.copyright__text {
  font-size: 16px;
  line-height: 1;
  margin-left: -1px;
}
