@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: $color-gray-600;
}

.copyright__text {
  @include typography(16px, 16px, 400, $font-body);
  margin-left: -1px;
}
