@use "../utils/variables.scss" as *;
// @use "../utils/mixins.scss" as *;

.directions {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.directions__layout {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 6.56%;
    width: 84.72%;
    margin: 0 auto;
  }
}

.directions__item {
  background-color: $color-gray-100;
  padding: 30px 20px 18px 20px;
  position: relative;
  width: 87.5%;
  margin: 0 auto;

  &--slim::after {
    content: "";
    position: absolute;
    top: 21px;
    left: 29px;
    width: 50px;
    height: 53px;
    background-image: url("../../img/icons/cat-slim-back.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 100%;
      top: 0;
      bottom: 0;
      left: unset;
      right: 62px;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 106px;
      top: 41px;
      left: 52px;
      right: unset;
    }
  }

  &--pro::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;
    width: 67px;
    height: 50px;
    background-image: url("../../img/icons/cat-pro-back.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 100%;
      top: 0;
      right: 28px;
      left: unset;
      background-size: contain;
      transform: translateY(10px);
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 100px;
      top: 47px;
      left: 33px;
      right: unset;
      transform: translateY(0);
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 32px 47px 32px;
    width: 92.19%;
  }

  @media (min-width: $desktop-width) {
    flex: 1;
    min-height: 0;

    padding: 77px 50px 35px 32px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.directions__title {
  font-family: $font-accent;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 91px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 182px;
    margin-bottom: 74px;
  }
}

.directions__description {
  margin: 0;
  padding-right: 13px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-gray-400;
    margin-top: 22.5px;
    margin-bottom: 15.5px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 304px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    padding: 0;
    padding-left: 20px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 22px;
  }
}

.directions__link {
  display: block;
  position: relative;
  color: $color-black;
  font-family: $font-accent;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  width: fit-content;

  outline: 1px solid #aa00aa;
  outline-offset: -1px;

  padding-left: 10px;
  margin-left: -10px;
  padding-right: 47px;
  padding-top: 10px;
  margin-top: -10px;
  padding-bottom: 10px;
  margin-bottom: -10px;

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 0;

    display: block;
    width: 32px;
    height: 12px;
    // outline: 1px solid #aa00aa;
    background-image: url("../../img/icons/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: -8px;

    @media (min-width: $tablet-width) {
      top: 23.5px;
    }
  }

  &:hover {
    &::after {
      background-position: 0;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 20px;
    padding-right: 57px;
    padding-bottom: 20px;
    padding-left: 30px;
    width: fit-content;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}
