@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.directions {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.directions__container {
  @include container;
}

.directions__layout {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
  }
}

.directions__item {
  background-color: $color-gray-100;
  padding: 30px 20px 18px 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 32px 47px 32px;
  }

  @media (min-width: $desktop-width) {
    flex: 1;
    min-height: 0;

    padding: 77px 50px 35px 32px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.directions__heading {
  font-family: $font-accent;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 91px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 182px;
    margin-bottom: 73px;
  }
}

.directions__description {
  margin: 0;
  padding-right: 13px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-gray-400;
    margin-top: 22.5px;
    margin-bottom: 15.5px;
  }

  @media (min-width: $tablet-width) {
    width: 360px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    padding: 0;
    padding-left: 20px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 13px;
  }
}

.directions__link {
  display: block;
  color: $color-black;
  font-family: $font-accent;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding-top: 20px;
    padding-right: 57px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: fit-content;
  }
}
