@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.directions {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
  }
}

.directions__layout {
  @media (min-width: $desktop-width) {
    display: flex;

    width: 84.72%;
    margin: 0 auto;
    gap: 6.56%;
  }
}

.directions__item {
  position: relative;

  width: 87.5%;
  margin: 0 auto;
  padding: 30px 20px 21px 20px;

  background-color: $color-gray-100;

  &--slim::after {
    position: absolute;
    top: 21px;
    left: 22px;

    width: 50px;
    height: 53px;

    background-image: url("../img/icons/cat-slim-back.svg");
    content: "";
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: -1px;
      right: 62px;
      bottom: 0;
      left: unset;

      width: 199px;
      height: 100%;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      top: 39px;
      right: unset;
      left: 50px;

      width: 103px;
      height: 106px;
    }
  }

  &--pro::after {
    position: absolute;
    top: 24px;
    left: 13px;

    width: 67px;
    height: 50px;

    background-image: url("../img/icons/cat-pro-back.svg");
    content: "";
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: -5px;
      right: 27px;
      left: unset;

      width: 271px;
      height: 100%;

      transform: translateY(10px);
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      top: 45px;
      right: unset;
      left: 33px;

      width: 134px;
      height: 100px;

      transform: translateY(0);
    }
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 92.19%;
    padding: 76px 32px 51px 32px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    flex: 1;

    min-height: 0;

    padding: 77px 50px 35px 32px;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.directions__title {
  @include typography(24px, 37px, 400, $font-accent);
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include typography(36px, 36px, 400, $font-accent);
    padding-left: 20px;
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 182px;
    margin-bottom: 74px;
  }
}

.directions__description {
  @include typography(14px, 18px, 400, $font-body);

  &::after {
    display: block;

    width: 100%;
    height: 1px;

    background-color: $color-gray-400;
    content: "";
    margin-top: 22px;
    margin-bottom: 19.5px;
  }

  @media (min-width: $tablet-width) {
    @include typography(16px, 24px, 400, $font-body);
    padding: 0;
    margin-right: 280px;
    margin-bottom: 47px;
    padding-left: 20px;

    &::after {
      display: none;
    }

    &--slim {
      br {
        display: none;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 22px;
  }
}

.directions__link {
  position: relative;

  display: block;

  width: fit-content;

  color: $color-black;
  text-transform: uppercase;
  text-decoration: none;

  padding-left: 9px;
  margin-left: -10px;
  padding-right: 47px;
  padding-top: 10px;
  margin-top: -10px;
  padding-bottom: 10px;
  margin-bottom: -10px;

  @include typography(16px, 16px, 400, $font-accent);

  &::after {
    position: absolute;
    top: 11px;
    right: -2px;

    display: block;

    width: 32px;
    height: 12px;

    background-image: url("../img/icons/arrow-right.svg");
    content: "";
    background-repeat: no-repeat;
    background-position: -8px;

    @media (min-width: $tablet-width) {
      top: 23.5px;
    }
  }

  &:hover {
    &::after {
      background-position: 0;
    }
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include typography(20px, 20px, 400, $font-accent);
    width: fit-content;

    padding-top: 20px;
    padding-right: 57px;
    padding-bottom: 20px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}
