@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.example__wrapper {
  background-color: $color-gray-250;
  padding-top: 25px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background-color: unset;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 75px;
  }
}

.example__container {
  @include container;
}

.example__layout {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 591px;
  }
}

.example__heading {
  font-family: $font-accent;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: 124px minmax(15px, 1fr) 124px;
  grid-template-rows: 70px auto;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 42px 162px 1fr;
    grid-template-rows: 77px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 42px 162px 1fr;
    grid-template-rows: 77px auto;
  }
}

.example__title {
  position: relative;
  z-index: 3;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  justify-self: center;
  align-self: end;
  margin-top: 14.5px;

  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  text-transform: lowercase;
  text-align: center;

  background-color: $color-gray-250;
  width: min-content;

  &:nth-of-type(2) {
    grid-column: 3 / 4;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: $color-white;
    width: unset;
    padding-inline: 8px;
  }
}

.example__definition {
  position: relative;
  z-index: 1;

  margin: 0;
  grid-column: 1 / 2;
  justify-self: center;
  grid-row: 1 / 2;
  width: 100%;

  padding-top: 13.5px;
  padding-bottom: 16.5px;
  margin-bottom: 14px;

  font-family: $font-accent;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: $color-black;

  border: 1px solid $color-gray-500;
  border-radius: 3px;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 71%;
    height: 3px;
    background-color: $color-gray-250;
    z-index: 2;

    @media (min-width: $tablet-width) {
      background-color: $color-white;
    }
  }

  &:nth-of-type(2) {
    grid-column: 3 / 4;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding-top: 14px;
    padding-bottom: 19px;
    margin-bottom: 5px;
  }
}

.example__spending {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  justify-self: center;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-self: end;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: start;
    margin-top: 55px;
  }
}

.example__title--spending {
  margin: 0;
  font-family: $font-accent;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: unset;
  display: inline;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: block;
    background-color: transparent;
    margin-bottom: 9px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    padding: 0;
    margin-right: 64px;
  }
}

.example__definition--spending {
  display: inline;
  font-family: $font-accent;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    display: block;
    padding: 0;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.example__content {
  @media (min-width: $desktop-width) {
    max-width: 436px;
    padding-top: 43px;
  }
}

.example__comparison {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

