@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.example__wrapper {
  background-color: $color-gray-250;
  padding-top: 24px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background-color: unset;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;

    background: linear-gradient(to bottom, transparent 179px, $color-gray-100 179px);
    padding-bottom: 65px;
  }
}

.example__container {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 84.72%;
  }
}

.example__layout {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 629px 1fr;
  }
}

.example__heading {
  @include typography(36px, 40px, 400, $font-accent);
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;

    @include typography(60px, 60px, 400, $font-accent);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__description {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;

    @include typography(16px, 24px, 400, $font-body);
  }

  @media (min-width: $desktop-width) {
    max-width: 436px;
    margin-bottom: 73px;
  }
}

.example__list {
  display: grid;

  max-width: 280px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  grid-template-columns: 124px 32px 124px;
  grid-template-rows: 70px auto;

  @media (min-width: $tablet-width) {
    max-width: 738px;
    grid-template-columns: 162px 42px 162px 1fr;
    grid-template-rows: 77px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-template-columns: 162px 42px 162px 1fr;
    grid-template-rows: 77px auto;
  }
}

.example__weight,
.example__time {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.example__time {
  grid-column: 3 / 4;
}

.example__title {
  position: relative;
  z-index: 3;

  width: min-content;

  text-align: center;

  background-color: $color-gray-250;

  margin-top: -10px;

  text-transform: lowercase;

  @include typography(12px, 12px, 400, $font-body);

  &:nth-of-type(2) {
    grid-column: 3 / 4;
  }

  @media (min-width: $tablet-width) {
    @include typography(14px, 14px, 400, $font-body);
    position: relative;
    top: -2px;

    width: unset;

    background-color: $color-white;
    padding-inline: 8px;
    margin-top: -6px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-gray-100;
  }
}

.example__definition {
  position: relative;
  z-index: 1;

  width: 100%;

  text-align: center;
  color: $color-black;

  border: 1px solid $color-gray-500;
  border-radius: 3px;

  padding-top: 13.5px;
  padding-bottom: 16.5px;
  margin-left: 0;

  text-transform: uppercase;

  @include typography(24px, 24px, 400, $font-accent);

  &::after {
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    z-index: 2;

    width: 71%;
    height: 3px;
    margin: 0 auto;

    background-color: $color-gray-250;
    content: "";

    @media (min-width: $tablet-width) {
      background-color: $color-white;
    }
  }

  &:nth-of-type(2) {
    grid-column: 3 / 4;
  }

  @media (min-width: $tablet-width) {
    @include typography(30px, 37px, 400, $font-accent);
    padding-top: 14px;
    padding-bottom: 19px;
  }
}

.example__spending {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  justify-self: center;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    justify-self: end;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    justify-self: start;
    margin-top: 53px;
  }
}

.example__title--spending {
  display: inline;

  width: unset;
  margin: 0;

  color: $color-black;
  text-transform: uppercase;

  @include typography(14px, 20px, 400, $font-accent);

  @media (min-width: $tablet-width) {
    @include typography(20px, 20px, 400, $font-accent);
    display: block;

    padding: 0;

    text-align: right;

    background-color: transparent;
    margin-bottom: 9px;
    margin-right: 2px;
  }

  @media (min-width: $desktop-width) {
    display: inline;

    padding: 0;
    margin-right: 64px;
  }
}

.example__definition--spending {
  display: inline;

  border: none;
  margin-left: 6px;
  text-transform: uppercase;

  @include typography(14px, 20px, 400, $font-accent);

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include typography(20px, 20px, 400, $font-accent);
    display: block;

    padding: 0;

    text-align: right;
    margin-left: -1px;
    margin-top: -2px;
  }

  @media (min-width: $desktop-width) {
    display: inline;
    margin-left: 1px;
  }
}

.example__content {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    width: 92.19%;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    padding-top: 43px;
  }
}

.example__comparison {
  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, transparent 170px, $color-gray-250 170px);
    padding-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    background: none;
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    padding-bottom: 0;
  }
}

.example__images {
  margin-bottom: -4px;

  @media (min-width: $tablet-width) {
    display: grid;

    max-width: 592px;
    margin: 0 auto;

    overflow: hidden;
    grid-template-columns: 50% 1fr;
  }
}

.example__image {
  display: none;

  margin: 0 auto;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;

    width: unset;

    overflow: hidden;
    margin-inline: 0;

    img {
      width: 592px;
      height: 511px;
    }
  }
}

.example__image--active {
  @media (max-width: $mobile-width-only) {
    display: block;

    width: min-content;
  }
}

.example__image--after {
  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.example__switcher {
  width: 210px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 592px;
    padding: 4px 10px;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 10px 0 10px;
  }
}
