@use "../utils/variables.scss" as *;

.field {
  color: $color-gray-700;

  font-family: $font-accent;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.field--cat-name,
.field--cat-weight,
.field--cat-age {
  display: flex;

  &:not(.field--cat-age) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  & .field__name {
    margin-right: 14px;
    align-self: center;

    @media (min-width: $tablet-width) {
      margin-right: 19px;
    }
  }

  & .field__input {
    flex: 1;
    min-width: 0;
  }
}

.field--e-mail,
.field--phone {
  display: flex;
  position: relative;

  & .field__name {
    margin-right: 9px;
    align-self: center;
  }

  & .field__input {
    flex: 1;
    min-width: 0;
    padding-left: 18px;
  }

  & svg {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    right: 14px;

    @media (min-width: $tablet-width) {
      right: 19px;
    }
  }
}

.field--e-mail {
  .field__name {
    margin-right: 20px;
  }

  .field__input {
    padding-left: 20px;
  }
}

.field--phone {
  .field__name {
    margin-right: 14px;
  }

  .field__input {
    padding-left: 20px;
  }
}

.field--e-mail svg {
  color: $color-gray-800;
}

.field--phone svg {
  @media (min-width: $desktop-width) {
    right: 17px;
  }
}

.field--comment {
  display: block;
  margin: 0 6.25vw 21px 6.25vw;

  @media (min-width: $tablet-width) {
    margin: 0 9.11% 63px 9.11%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 7.64% 67px 7.64%;
  }
}

.field__input {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  border: 1px solid #e7e7e7;
  padding: 9.5px 15px;

  &::placeholder {
    color: $color-gray-700;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 17px;
  }
}

.field__textarea {
  display: block;
  margin: 38px 0 0 0;
  padding: 9px 13px 14px;
  border: 1px solid $color-gray-300;
  width: 100%;
  resize: none;

  font-family: $font-accent;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    height: 175px;
    padding: 9px 18px 14px 18px;
  }
}
