@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.field {
  color: $color-gray-700;

  @include typography(16px, 18px, 400, $font-accent);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include typography(20px, 30px, 400, $font-accent);
  }
}

.field--error {
  & .field__input {
    border-color: $color-error;

    & + svg {
      color: $color-error;
    }
  }
}

.field--cat-name,
.field--cat-weight,
.field--cat-age {
  display: flex;

  &:not(.field--cat-age) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  & .field__name {
    margin-right: 14px;
    align-self: center;

    @media (min-width: $tablet-width) {
      margin-right: 19px;
    }
  }

  & .field__input {
    flex: 1;
    min-width: 0;
  }
}

.field--e-mail,
.field--phone {
  display: flex;
  position: relative;

  & .field__name {
    margin-right: 9px;
    align-self: center;
  }

  & .field__input {
    flex: 1;
    min-width: 0;
    padding-left: 18px;
  }

  & svg {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    right: 14px;

    @media (min-width: $tablet-width) {
      right: 19px;
    }
  }
}

.field--e-mail {
  .field__name {
    margin-right: 11px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  .field__input {
    padding-left: 14px;

    @media (min-width: $tablet-width) {
      padding-left: 20px;
    }
  }
}

.field--phone {
  .field__name {
    margin-right: 9px;

    @media (min-width: $tablet-width) {
      margin-right: 14px;
    }
  }

  .field__input {
    padding-left: 15px;

    @media (min-width: $tablet-width) {
      padding-left: 19px;
    }
  }
}

.field--e-mail svg {
  color: $color-gray-800;
}

.field--phone svg {
  @media (min-width: $desktop-width) {
    right: 17px;
  }
}

.field--comment {
  display: block;
  margin: 0 6.25vw 21px 6.25vw;

  @media (min-width: $tablet-width) {
    margin: 0 9.11% 63px 9.11%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 7.64% 67px 7.64%;
  }
}

.field__input {
  @include typography(16px, 18px, 400, $font-accent);
  text-transform: uppercase;

  border: 1px solid #e7e7e7;
  padding: 9.5px 15px;

  &::placeholder {
    color: $color-gray-700;
  }

  @media (min-width: $tablet-width) {
    @include typography(20px, 30px, 400, $font-accent);
    padding: 10px 17px;
  }

  &:hover {
    border: 1px solid $color-gray-500;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-gray-700;
  }

  &:focus + svg {
    color: $color-green;
  }
}

.field__textarea {
  display: block;
  margin: 38px 0 0 0;
  padding: 9px 13px 14px;
  border: 1px solid $color-gray-300;
  width: 100%;
  resize: none;

  @include typography(16px, 18px, 400, $font-accent);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include typography(20px, 30px, 400, $font-accent);

    height: 175px;
    padding: 9px 18px 14px 18px;
  }

  &:hover {
    border: 1px solid $color-gray-500;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-gray-700;
  }
}

.field__input[type="number"] {
  appearance: textfield;
}

.field__input[type="number"]::-webkit-outer-spin-button,
.field__input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
