@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.field {
  color: $color-gray-700;
  text-transform: uppercase;

  @include typography(16px, 18px, 400, $font-accent);

  @media (min-width: $tablet-width) {
    @include typography(20px, 30px, 400, $font-accent);
  }

  &__textarea {
    display: block;

    padding: 9px 13px 14px;
    resize: none;
    margin-top: 38px;
    border-color: $color-gray-300;

    @media (min-width: $tablet-width) {
      height: 175px;
      padding: 9px 18px 14px;
    }
  }

  &__input,
  &__textarea {
    @include typography(16px, 18px, 400, $font-accent);
    width: 100%;
    padding: 9.5px 15px;

    border: 1px solid #e7e7e7;
    text-transform: uppercase;

    &::placeholder {
      color: $color-gray-700;
    }

    &:hover {
      border-color: $color-gray-500;
    }

    &:focus {
      border-color: $color-gray-700;
      outline: none;
    }

    @media (min-width: $tablet-width) {
      @include typography(20px, 30px, 400, $font-accent);
      padding: 10px 17px;
    }
  }

  &__input[type="number"] {
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }
  }
}

.field--cat-name,
.field--cat-weight,
.field--cat-age {
  display: flex;

  &:not(.field--cat-age) {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  .field__name {
    align-self: center;
    margin-right: 14px;

    @media (min-width: $tablet-width) {
      margin-right: 19px;
    }
  }

  .field__input {
    flex: 1;

    min-width: 0;
  }
}

.field--e-mail,
.field--phone {
  position: relative;

  display: flex;

  .field__name {
    align-self: center;
    margin-right: 9px;
  }

  .field__input {
    flex: 1;

    min-width: 0;
    padding-left: 18px;
  }

  svg {
    position: absolute;
    top: 52%;
    right: 14px;

    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      right: 19px;
    }
  }
}

.field--e-mail {
  .field__name {
    margin-right: 11px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  .field__input {
    padding-left: 14px;

    @media (min-width: $tablet-width) {
      padding-left: 20px;
    }
  }

  svg {
    color: $color-gray-800;
  }
}

.field--phone {
  .field__name {
    margin-right: 9px;

    @media (min-width: $tablet-width) {
      margin-right: 14px;
    }
  }

  .field__input {
    padding-left: 15px;

    @media (min-width: $tablet-width) {
      padding-left: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    svg {
      right: 17px;
    }
  }
}

.field--comment {
  display: block;

  margin: 0 6.25vw 21px;

  @media (min-width: $tablet-width) {
    margin: 0 9.11% 63px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 7.64% 67px;
  }
}

.field--error {
  .field__input {
    border-color: $color-error;

    & + svg {
      color: $color-error;
    }
  }
}
