@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.form__group {
  margin: 0 6.25% 25px 6.25%;

  @media (min-width: $tablet-width) {
    margin: 0 9.11% 74px 9.11%;
  }

  @media (min-width: $desktop-width) {
    margin: 0 7.71% 69px 7.71%;

    display: grid;
    grid-template-columns: 570fr 569fr;
    gap: 81px;
  }
}

.form__section {
  margin: 0;
  padding: 0;
}

.form__section--info {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    margin-right: -3px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__section--goal {
  margin-inline: -6.25vw;
  padding: 22px 6.25vw 18px 6.25vw;

  @media (min-width: $tablet-width) {
    margin-inline: 1px -3px;
    padding: 24px 27px;
  }
}

.form__submit-wrapper {
  margin: 0 6.25% 32px 6.25%;

  @media (min-width: $tablet-width) {
    margin: 0 9.11% 72px 9.11%;
    display: grid;
    grid-template-columns: repeat(2, 312px);
    gap: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 7.71% 80px 7.71%;

    grid-template-columns: repeat(4, 293px);
  }
}

.form__submit {
  width: 100%;

  @include typography(16px, 18px, 400, $font-accent);
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 282px;

    @include typography(20px, 20px, 400, $font-accent);
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    width: 568px;
  }
}

.form__note {
  margin: 0;
  text-align: center;

  @include typography(14px, 16px, 400, $font-body);


  @media (min-width: $tablet-width) {
    text-align: left;

    @include typography(16px, 16px, 400, $font-body);
    align-self: center;
    margin-top: -5px;
  }
}
