@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.how-it-works {
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    border-bottom: 1px solid $color-gray-300;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
    border-bottom: none;
  }
}

.how-it-works__container {
  @include container;
}

.how-it-works__heading {
  font-family: $font-accent;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.how-it-works__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    gap: 75px;
    flex-wrap: nowrap;
  }
}

.how-it-works__item {
  padding-left: 80px;
  min-height: 60px;
  position: relative;

  outline: 1px solid #aa00aa;
  outline-offset: -1px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color-green;
  }

  @media (min-width: $tablet-width) {
    width: 265px;
    margin-bottom: 37px;
    padding-top: 40px;
    padding-bottom: 57px;
    padding-left: 0;

    &:nth-child(2n-1) {
      margin-right: 119px;
    }

    &::before {
      position: static;
      margin-bottom: 31px;
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    margin-bottom: 0;

    &:nth-child(2n-1) {
      margin-right: 0;
    }
  }
}

.how-it-works__item--leaf {
  &::before {
    background-image: url("../../img/decorations/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.how-it-works__item--powder {
  &::before {
    background-image: url("../../img/decorations/powder.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.how-it-works__item--cutlery {
  &::before {
    background-image: url("../../img/decorations/cutlery.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.how-it-works__item--scales {
  &::before {
    background-image: url("../../img/decorations/scales.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
