@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.how-it-works {
  margin-bottom: 49px;
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
    padding-bottom: 46px;
    border-bottom: 1px solid $color-gray-300;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
    padding-bottom: 0;
    border-bottom: none;
    width: 84.72%;
  }
}

.how-it-works__wrapper {
  @media (min-width: $tablet-width) {
    width: 92.19%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.how-it-works__title {
  @include typography(36px, 40px, 400, $font-accent);
  color: $color-black;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    @include typography(60px, 60px, 400, $font-accent);
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 33px;
  }
}

.how-it-works__list {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: step;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 37px 133px;
  }

  @media (min-width: $tablet-plus-width) {
    flex-wrap: nowrap;
    gap: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.how-it-works__item {
  @include typography(14px, 19px, 400, $font-body);

  padding-left: 80px;
  min-height: 60px;
  position: relative;

  counter-increment: step;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $color-green;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    padding-top: 40px;
    padding-bottom: 57px;
    padding-left: 0;

    @include typography(16px, 24px, 400, $font-body);

    &:nth-child(1) {
      &::after {
        right: 25px;

        @media (min-width: $desktop-width) {
          right: 20px;
        }
      }
    }

    &::before {
      position: static;
      margin-bottom: 31px;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(step);
      position: absolute;
      top: 40px;
      right: 4px;

      @include typography(280px, 280px, 400, $font-accent);
      color: $color-gray-100;

      z-index: -1;
      transform: translateY(-40px);
      pointer-events: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin-bottom: 0;

    &:nth-child(2n-1) {
      margin-right: 0;
    }
  }
}

.how-it-works__item--leaf {
  &::before {
    background-image: url("../img/icons/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.how-it-works__item--powder {
  &::before {
    background-image: url("../img/icons/powder.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: 0;
    }
  }
}

.how-it-works__item--cutlery {
  &::before {
    background-image: url("../img/icons/cutlery.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &::after {
    right: 3px;
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: -3px;
    }
  }
}

.how-it-works__item--scales {
  &::before {
    background-image: url("../img/icons/scales.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &::after {
    right: 1px;
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: -3px;
    }
  }
}
