@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.location {
  position: relative;
  background-color: $color-gray-100;
}

.location--index {
  background-color: $color-white;
}

.location__container {
  position: relative;

  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 81.77%;
  }

  @media (min-width: $desktop-width) {
    width: 84.72%;
  }
}

.location__content {
  display: flex;
  gap: 2px;

  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 60px 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 0;
    background-color: $color-white;
    width: 565px;
    padding: 61px 80px 59px 80px;
  }
}

.location__invite {
  margin: 0;
  flex: 1 1 0%;

  @include typography(16px, 20px, 400, $font-accent);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include typography(20px, 26px, 400, $font-accent);
  }
}

.location__address {
  flex: 1 1 0%;

  @include typography(14px, 20px, 400, $font-body);
  font-style: normal;

  @media (min-width: $tablet-width) {
    @include typography(16px, 20px, 400, $font-body);
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex: 0 1 auto;
    text-align: left;
    width: fit-content;
  }
}

.location__street {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-bottom: 20px;

    margin-top: -6px;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: -4px;
    margin-bottom: 19px;
  }
}

.location__map {
  display: block;
  width: 100%;
  height: 362px;

  border: none;

  margin: 0;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
