@use "../utils/variables.scss" as *;
// @use "../utils/mixins.scss" as *;

.location {
  position: relative;

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.location__container {
  position: relative;

  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 92.19%;
  }
}

.location__content {
  display: flex;
  gap: 2px;

  padding-top: 26px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    padding: 56px 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 7.64%;
    background-color: $color-white;
    width: 565px;
    padding: 57px 80px;
  }
}

.location__invite {
  margin: 0;
  flex: 1 1 0%;

  font-family: $font-accent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;
  }
}

.location__address {
  flex: 1 1 0%;

  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
}

.location__street {
  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 19px;
  }
}

.location__city {
  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

// .location__map-dummy {
//   display: block;
//   margin: 0 auto;
// }

.location__map {
  display: block;
  width: 100%;
  height: 362px;

  border: none;

  margin: 0;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.location--catalog {
  background-color: $color-gray-100;
}

.location--form {
  background-color: $color-gray-100;
}
