@use "../utils/variables.scss" as *;

.logo {
  display: grid;
  grid-template-columns: min-content 1fr;

  @media (min-width: $tablet-width) {
    gap: 12px;
  }
}

.logo--footer {
  display: block;
}

.logo__image-wrapper {

  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.logo__image {
  margin-top: -1px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 61px;
    height: 50px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 59px;
  }
}

.logo__sign {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
  margin-top: 13px;
  margin-left: 23px;

  @media (min-width: $tablet-width) {
    margin-top: 18px;
    margin-left: -1.5px;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 22px;
    margin-top: 22px;
    margin-left: 1px;
  }
}

.logo__sign--footer {
  margin-left: -1px;

  @media (min-width: $tablet-width) {
    margin-top: 5px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 128px;
    height: 24px;
    margin-top: 11px;
    margin-left: -2px;
  }
}
