@use "../utils/variables.scss" as *;

.logo {
  height: 38px;
  display: grid;
  grid-template-columns: min-content 1fr;

  @media (min-width: $tablet-width) {
    gap: 12px;
  }
}

.logo__image {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}

.logo__sign {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-top: 19px;
  }
}
