@use "../utils/variables.scss" as *;

.logo {
  display: grid;
  grid-template-columns: min-content 1fr;

  @media (min-width: $tablet-width) {
    gap: 12px;
  }
}

.logo__image-wrapper {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 61px;
    height: 50px;
    display: block;
  }

  @media (min-width: $desktop-width) {
    width: 60.5px;
    height: 50px;
  }
}

.logo__image--footer {
  @media (min-width: $tablet-width) {
    width: 128px;
  }
}

.logo__sign {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: center;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    margin-top: 19px;
  }
}
