@use "../utils/variables.scss" as *;

.page {
  font-family: $font-body;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray-700;
  background-color: $color-white;
  height: 100%;
}

.page__body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.page__header {
  position: relative;
  margin-block: 10px 17px;

  grid-area: header;

  @media (min-width: $tablet-width) {
    margin-block: 24px 64px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-block: 53px 29px;
  }
}

.page__header--catalog {
  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.page__main {
  grid-area: main;
}

.page__footer {
  grid-area: footer;
}
