@use "../utils/variables.scss" as *;

.page-header__nav {
  display: grid;
  grid-template-columns: 6.25% 1fr min-content 6.25%;

  @media (min-width: $tablet-width) {
    grid-template-columns: 3.91% min-content 1fr 3.91%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 7.64%  min-content 1fr 7.64%;
  }
}

.page-header__nav--nojs {
  @media (max-width: $mobile-width-only) {
    grid-template-columns: 6.25vw 87.5vw 6.25vw;
  }
}

.page-header__logo {
  grid-column: 2 / 3;
}

.page-header__menu {
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 2;

  display: none;

  flex-direction: column;

  width: 100vw;
  margin: 0;

  @media (min-width: $tablet-width) {
    position: static;

    display: flex;
    flex-direction: row;

    width: auto;
    gap: 35px;
    margin-top: 14px;
    margin-right: 2px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
    margin-right: 1px;
  }
}

.page-header__menu--shown {
  display: flex;
}

.page-header__menu--nojs {
  @media (max-width: $mobile-width-only) {
    position: static;

    display: block;
    grid-row: 2 / 3;
    margin-top: 17px;
  }
}

.page-header__toggler {
  width: 24px;
  height: 20px;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
  grid-column: 3 / 4;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggler--nojs {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page-header__toggler-line {
  display: block;

  width: 24px;
  height: 2px;
}

.page-header__toggler--closed {
  .page-header__toggler-line {
    background-color: $color-black;

    &::before,
    &::after {
      display: block;

      width: 24px;
      height: 2px;

      background-color: $color-black;
      content: "";
    }

    &::before {
      transform: translateY(-8.5px);
    }

    &::after {
      transform: translateY(6px);
    }
  }
}

.page-header__toggler--opened {
  position: relative;

  .page-header__toggler-line {
    background-color: transparent;

    &::before,
    &::after {
      position: absolute;

      display: block;

      width: 24.5px;
      height: 1.5px;

      background-color: $color-black;
      content: "";
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

.page-header__background {
  position: absolute;
  top: 55px;
  right: 0;
  z-index: -1;

  display: block;

  width: 100%;
  height: 302px;

  background-image: url("../img/background/promo-small.jpg"), linear-gradient(to right, #65a646, #63a443);
  background-repeat: no-repeat, no-repeat;

  background-position: top center;

  @media (min-resolution: 2dppx) and (max-width: $mobile-width-only) {
    background-image: url("../img/background/promo-small@2x.jpg"), linear-gradient(to right, #65a646, #63a443);
    background-size: auto 302px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    display: block;

    width: 50%;
    max-width: 1044px;
    height: 694px;

    background-image: linear-gradient(to right, #68b738d9, #68b738d9), url("../img/background/promo-large.jpg");

    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto;
    background-position: center, left top;
  }

  @media (min-resolution: 2dppx) and (min-width: $desktop-width) {
    background-image: linear-gradient(to right, #68b738d9, #68b738d9), url("../img/background/promo-large@2x.jpg");
    background-size: auto, 1044px 695px;
  }
}

.page-header__background--nojs {
  @media (max-width: $mobile-width-only) {
    top: 211px + 55px;
  }
}
