@use "../utils/variables.scss" as *;
// @use "../utils/mixins.scss" as *;

.page-footer {
  background-color: $color-gray-100;
}

.page-footer__layout {
  width: 87.5%;
  margin: 0 auto;
  padding: 25px 0 22px 0;

  @media (min-width: $tablet-width) {
    width: 92.19%;

    padding: 50px 0 52px 0;
    display: grid;
    grid-template-columns: 165px 1fr 165px;
  }

  @media (min-width: $desktop-width) {
    padding: 45px 0 55px 0;

    width: 84.72%;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 2px 0 0 1px;

    align-self: center;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin: 2px 0 0 1px;
  }
}

.page-footer__social-list {
  margin-top: 0;
  margin-bottom: 22.5px;
  border-top: 1px solid $color-gray-400;
  border-bottom: 1px solid $color-gray-400;
  padding: 7px 0 5px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 4px;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-width) {
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 8px;
    margin-left: 2px;
  }
}
