@use "../utils/variables.scss" as *;
// @use "../utils/mixins.scss" as *;

.page-header__nav {
  display: grid;
  grid-template-columns: 6.25% 1fr min-content 6.25%;

  // height: 38px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 3.91% min-content 1fr 3.91%;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 7.64%  min-content 1fr 7.64%;
  }
}

.page-header__logo {
  grid-column: 2 / 3;
}

.page-header__menu {
  display: none;
  margin: 0;

  flex-direction: column;
  position: absolute;
  top: 55px;
  left: 0;
  width: 100vw;
  background-color: $color-white;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 35px;

    position: static;
    margin-top: 18px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    width: auto;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }
}

.page-header__menu--shown {
  display: flex;
}

.page-header__menu--nojs {
  @media (max-width: $mobile-width-only) {
    display: block;
    position: static;
    grid-row: 2 / 3;
    margin-top: 17px;
  }
}

.page-header__toggler {
  grid-column: 3 / 4;
  width: 24px;
  height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  padding: 0;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__toggler--nojs {
  @media (max-width: $mobile-width-only) {

    display: none;
  }
}

.page-header__toggler-line {
  display: block;
  width: 24px;
  height: 2px;
}

.page-header__toggler--closed {
  .page-header__toggler-line {
    background-color: $color-black;

    &::before,
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 2px;
      background-color: $color-black;
    }

    &::before {
      transform: translateY(-8.5px);
    }

    &::after {
      transform: translateY(6.5px);
    }
  }
}

.page-header__toggler--opened {
  position: relative;
  bottom: -3px;

  .page-header__toggler-line {

    background-color: transparent;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 24.76px;
      height: 1.2px;
      background-color: $color-black;
    }

    &::before {

      transform: rotate(45deg);
    }

    &::after {

      transform: rotate(-45deg);
    }
  }
}

.page-header__background {
  position: absolute;
  top: 55px;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 302px;
  background-image: url("../../img/background/promo.jpg"), linear-gradient(to right, #65a646, #63a443);
  background-repeat: no-repeat, no-repeat;

  background-position: top center;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    background-image: linear-gradient(to right, #68b738d9, #68b738d9), url("../../img/background/cat-large.jpg");

    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto;
    background-position: center, left top;
    top: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 50%;
    max-width: 1044px;
    height: 694px;
  }
}

.page-header__background--nojs {
  @media (max-width: $mobile-width-only) {
    top: 211px + 55px;
  }
}
