@use "../utils/variables" as *;

.page-main__header {
  font-family: $font-accent;
  font-size: 36px;
  line-height: 1;
  font-weight: 400;
  color: $color-black;
  padding-top: 27px;
  margin-bottom: 20px;

  // outline: 1px solid #aa0000;
  // outline-offset: -1px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.page-main__header--catalog {
  padding: 0;
  height: auto;

  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }
}

.page-main__header--form {
  padding: 0;
  height: auto;

  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }
}

.page-main__header-wrapper {
  border-top: 1px solid $color-gray-400;
  border-bottom: 1px solid $color-gray-400;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.page-main__header-wrapper--form {
  border-bottom: none;

  padding-inline: 6.25%;

  @media (min-width: $tablet-width) {
    padding-inline: 9.11%;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 7.64%;
  }
}

.page-main__title {
  font-size: 36px;
  line-height: 1;
  padding-top: 27px;
  padding-bottom: 41px;
  padding-left: 6.25%;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    padding-left: 3.91%;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 7.64%;
  }
}

.page-main__title--form {
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.page-main__subtitle {
  font-family: $font-accent;
  color: $color-black;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.page-main__footer {
  outline: 1px solid #aa0000;
  outline-offset: -1px;
}

