@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.page {
  @include typography(14px, 18px, 400, $font-body);
  color: $color-black;
  background-color: $color-white;
  height: 100%;
}

.page__body {
  margin: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
  grid-template-areas:
    "header"
    "main"
    "location"
    "footer";
}

.page__header {
  position: relative;
  margin-block: 10px 17px;

  grid-area: header;

  @media (min-width: $tablet-width) {
    margin-block: 26px 63px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-block: 53px 34px;
  }
}

.page__header--catalog {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}

.page__header--form {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.page__main {
  grid-area: main;
}

.page__location {
  grid-area: location;
}

.page__footer {
  grid-area: footer;
}
