@use "../utils/variables.scss" as *;
// @use "../utils/mixins.scss" as *;

.promo {

  color: $color-white;
}

.promo__layout {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 117fr 420px 231fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 190fr 368px 552px 330fr;
  }
}

.promo__title {
  font-family: $font-accent;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;
  text-align: center;

  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    color: $color-black;
    font-size: 60px;
    text-align: left;

    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    margin-top: 82px;
    margin-bottom: 41px;

    grid-row: 1 / 2;
    grid-column: 2 / 4;
  }
}

.promo__motto {
  font-family: $font-accent;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    color: $color-black;
    text-align: left;
    margin-bottom: 20px;
    font-size: 20px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 4;
    margin-top: 0;
    width: 552px;
    height: 499px;
    grid-column: 3 / 4;
  }
}

.promo__button {
  display: block;
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    height: 54px;
    width: 244px;
    margin: 0;

    margin-top: 29px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 185px;
  }
}
