@use "../utils/variables.scss" as *;
// @use "../utils/mixins.scss" as *;

.products {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 68px;
  }
}

.products__container {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-inline: 3.9%;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 7.64%;
  }
}

.products__layout {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 80px 63px;
  }
}

.products__card {
  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.products__show-more {
  padding-inline: 6.25%;
}
