@use "../utils/variables.scss" as *;

.products {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }
}

.products__container {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-inline: 3.9%;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 7.63%;
  }
}

.products__layout {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 62px 80px;
  }
}

.products__card {
  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.products__show-more {
  padding: 17px 6.25% 24px 6.25%;

  @media (min-width: $tablet-width) {
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 81px;
  }
}
