@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.promo {
  color: $color-white;
}

.promo__layout {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 117fr 420px 231fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 190fr 368px 552px 330fr;
  }
}

.promo__title {
  @include typography(36px, 36px, 400, $font-accent);

  margin: 0;

  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include typography(60px, 60px, 400, $font-accent);
    text-align: left;
    color: $color-black;
    margin-bottom: 43px;

    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    margin-top: 76px;
    margin-bottom: 41px;

    grid-row: 1 / 2;
    grid-column: 2 / 4;
  }
}

.promo__motto {
  @include typography(14px, 14px, 400, $font-accent);

  margin: 0;

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    text-align: left;
    color: $color-black;
    margin-left: 2px;
    margin-bottom: 19px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    @include typography(20px, 20px, 400, $font-accent);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 0;
  }
}

.promo__image {
  display: block;

  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    margin-top: 0;
  }
}

.promo__image-wrapper {
  @media (min-width: $tablet-width) {
    margin-left: -1px;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    margin-top: -5px;
  }
}

.promo__button {
  display: block;

  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 244px;
    margin: 0;
    margin-left: 3px;
    margin-top: 29px;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 185px;
    margin-left: 0;
  }
}
