@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.products-additional {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.products-additional__layout {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 79px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 7.64% 0 7.64%;
  }
}

.products-additional__title-wrapper {
  position: relative;
}

.products-additional__title {
  @include title-with-line(
    24px,
    24px,
    35px,
    0,
    6.25vw,
    22px,
    15px
  );

  @media (min-width: $tablet-width) {
    @include title-with-line(
      36px,
      36px,
      81px,
      3.91vw,
      4.82vw,
      36px,
      23px
    );
  }

  @media (min-width: $desktop-width) {
    @include title-with-line(
      36px,
      36px,
      81px,
      4.86vw,
      2.78vw,
      35px,
      23.5px
    );
  }
}

.products-additional__list {
  list-style: none;
  padding-left: 6.25%;
  padding-right: 6.25%;
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 3.91% 69px 3.91%;
    border: 1px solid $color-gray-500;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    margin: 0;
  }
}

.products-additional__item {
  padding-bottom: 18px;
  border-bottom: 1px solid $color-gray-500;
  margin-bottom: 13px;
  padding-top: 0;

  &:first-child {
    padding-top: 13px;
    border-top: 1px solid $color-gray-500;
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      padding-top: 26px;
      border-top: none;
      margin-bottom: 2px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 15px;
      margin-bottom: 1px;
    }
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 25px 38px 27px 38px;
    margin-bottom: 2px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 16px 0;
    margin-bottom: 1px;
  }
}

.products-additional__offer {
  margin-left: 6.25%;
  margin-right: 6.25%;

  @media (min-width: $tablet-width) {
    max-width: 708px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
