@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.show-more {
  border-bottom: 1px solid $color-gray-200;

  @media (min-width: $tablet-width) {
    padding: 50px 36px 35px 36px;
    width: 324px;
    border: 2px solid $color-gray-100;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 50px;
    padding-bottom: 39px;
  }
}

.show-more__plus {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto 23px auto;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #d3d3d3;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;

    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.show-more__heading {
  @include typography(16px, 20px, 400, $font-accent);
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px 0;

  @media (min-width: $tablet-width) {
    @include typography(20px, 22px, 400, $font-accent);
    margin-bottom: 23px;
  }
}

.show-more__description {
  color: $color-gray-700;

  @include typography(12px, 16px, 400, $font-body);

  text-align: center;

  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    @include typography(16px, 18px, 400, $font-body);
    margin-bottom: 87px;
  }
}

.show-more__button {
  width: 100%;

  @include typography(16px, 20px, 400, $font-accent);
  padding-block: 11px 9px;

  @media (min-width: $tablet-width) {
    @include typography(16px, 16px, 400, $font-accent);
    padding: 12px 0;

    position: static;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.show-more__break-wide {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
