@use "../utils/variables.scss" as *;

.site-menu {
  font-family: $font-accent;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.site-menu--index .site-menu__link {
  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}

.site-menu--index .site-menu__item--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $color-white;
  }
}

.site-menu__item {
  margin-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid $color-gray-400;

  &:first-child {
    margin-top: 0;
    padding-top: 22px;
    border-top: 1px solid $color-gray-400;
  }

  @media (min-width: $tablet-width) {
    border: none;
    border-bottom: 2px solid transparent;
    padding: 0 0 9px 0;
    margin-top: 0;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }
}

.site-menu__item--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-green;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
    margin-bottom: 4px;
    border-bottom: 2px solid $color-green;
  }
}

.site-menu__link {
  display: block;
  color: $color-black;

  text-decoration: none;

  @media (max-width: $mobile-width-only) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
