@use "../utils/variables.scss" as *;

.site-menu {
  font-family: $font-accent;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

.site-menu__link {
  display: block;
  color: $color-black;

  text-decoration: none;
}
