@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.site-menu {
  @include typography(20px, 20px, 500, $font-accent);
  padding: 0;

  text-align: center;

  background-color: $color-white;
  text-transform: uppercase;
  list-style: none;

  @media (min-width: $tablet-width) {
    @include typography(18px, 24px, 400, $font-accent);
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    @include typography(20px, 30px, 400, $font-accent);
  }
}

.site-menu__item {
  margin-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid $color-gray-400;

  &:first-child {
    margin-top: 0;
    padding-top: 22px;
    border-top: 1px solid $color-gray-400;
  }

  @media (min-width: $tablet-width) {
    padding: 0 0 9px 0;

    border: none;
    border-bottom: 2px solid transparent;
    margin-top: 0;

    &:first-child {
      padding-top: 0;
      border-top: none;
    }
  }

  &:not(.site-menu__item--current):hover {
    opacity: 0.6;
  }

  &:not(.site-menu__item--current):active {
    opacity: 0.3;
  }
}

.site-menu__item--current {
  cursor: default;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-green;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
    margin-bottom: 4px;
    border-bottom: 2px solid $color-green;
  }
}

.site-menu--index .site-menu__item--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $color-white;
  }
}

.site-menu__link {
  display: block;

  color: $color-black;
  text-decoration: none;
}

.site-menu--index .site-menu__link {
  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}
