@use "../utils/variables.scss" as *;

.social-list {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 5px;

  list-style: none;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social-list__link {
  display: block;
  width: 50px;
  height: 40px;

  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    background-image: url("../../img/icon-vk.svg");
  }

  &--instagram {
    background-image: url("../../img/icon-instagram.svg");
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
  }
}
