@use "../utils/variables.scss" as *;

.social-list {
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 5px;

  list-style: none;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  color: $color-gray-600;

  // background-repeat: no-repeat;
  // background-position: center;

  &--vk svg {
    @media (min-width: $tablet-width) {
      width: 35px;
      height: 20px;
    }
  }

  &--instagram svg {
    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook svg {
    @media (min-width: $tablet-width) {
      width: 16px;
      height: 35px;
    }
  }

  // &--instagram {
  //   background-image: url("../../img/icon-instagram.svg");
  // }

  // &--facebook {
  //   background-image: url("../../img/icon-fb.svg");
  // }
}
