@use "../utils/variables.scss" as *;

.special-offer {
  padding: 40px;

  color: $color-white;
  background-color: $color-green;
  background-image: url("../img/background/catbag.jpg");

  font-size: 16px;
  text-align: center;
  line-height: 20px;
}
