@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.switcher {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  gap: 13px;
}

.switcher__button {
  position: relative;

  width: fit-content;
  height: 30px;
  padding: 0;

  color: $color-black;

  background-color: transparent;
  border: none;

  cursor: pointer;
  justify-self: center;
  text-transform: uppercase;

  @include typography(16px, 20px, 400, $font-accent);

  &:hover {
    &::after {
      position: absolute;
      bottom: 3px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-black;
      opacity: 0.4;
      content: "";
    }
  }

  @media (min-width: $tablet-width) {
    height: 40px;

    @include typography(20px, 30px, 400, $font-accent);
  }
}

.switcher__indicator {
  position: relative;

  height: 14px;

  background-color: $color-white;
  border: 1px solid $color-gray-500;
  border-radius: 6px;

  cursor: pointer;
  align-self: center;

  &::after {
    position: absolute;
    top: 3px;
    left: 5px;

    width: 36px;
    height: 6px;

    background-color: $color-green;
    border-radius: 6px;
    content: "";
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.switcher__slider {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;

    display: block;
    margin-inline: 10px;

    &::after {
      position: absolute;
      top: 17px;
      z-index: 2;

      width: 100%;
      height: 6px;

      background-color: $color-gray-350;
      border-radius: 6px;
      content: "";
    }
  }
}

.switcher__handle {
  position: absolute;
  top: 3px;

  left: 50%;
  z-index: 3;

  width: 34px;
  height: 34px;

  background-color: $color-white;
  border: 1px solid $color-gray-500;
  border-radius: 50%;
  box-shadow: 0 1px 3px 0  rgba($color-black, 0.16);

  transform: translateX(-50%);
  cursor: grab;

  &:hover {
    box-shadow: 0 2px 4px 0  rgba($color-black, 0.19);
  }

  &:active {
    box-shadow: 0 3px 5px 0  rgba($color-black, 0.2);
    border-color: $color-green;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 8px;
    height: 8px;

    background-color: $color-green;
    border-radius: 50%;

    transform: translate(-50%, -50%);
    content: "";
  }
}
