@use "../utils/variables.scss" as *;
@use "../utils/mixins.scss" as *;

.switcher {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  gap: 13px;
}

.switcher__button {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  justify-self: center;
  height: 30px;
  padding: 0;

  @include typography(16px, 20px, 400, $font-accent);
  color: $color-black;
  text-transform: uppercase;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      bottom: 3px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $color-black;
      opacity: 0.4;
    }
  }

  @media (min-width: $tablet-width) {
    height: 40px;

    @include typography(20px, 30px, 400, $font-accent);
  }
}

.switcher__indicator {
  cursor: pointer;
  height: 14px;
  border: 1px solid $color-gray-500;
  border-radius: 6px;
  background-color: $color-white;
  align-self: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 36px;
    height: 6px;
    border-radius: 6px;
    background-color: $color-green;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.switcher__slider {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    margin-inline: 10px;

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 6px;
      top: 17px;
      border-radius: 6px;
      background-color: $color-gray-350;
    }
  }
}

.switcher__handle {
  position: absolute;
  z-index: 3;
  cursor: grab;
  top: 3px;
  width: 34px;
  height: 34px;
  border: 1px solid $color-gray-500;
  border-radius: 50%;
  background-color: $color-white;

  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1px 3px 0  rgba($color-black, 0.16);

  &:hover {
    box-shadow: 0 2px 4px 0  rgba($color-black, 0.19);
  }

  &:active {
    box-shadow: 0 3px 5px 0  rgba($color-black, 0.2);
    border-color: $color-green;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-green;
  }
}
