@use "../utils/variables.scss" as *;

.switcher {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 13px;
}

.switcher__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 49px;
  height: 30px;
  padding: 0;

  font-family: $font-accent;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    height: 40px;
    font-size: 20px;
    line-height: 30px;
  }
}

.switcher__indicator {
  cursor: pointer;
  height: 14px;
  border: 1px solid $color-gray-500;
  border-radius: 6px;
  background-color: $color-white;
  align-self: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 36px;
    height: 6px;
    border-radius: 6px;
    background-color: $color-green;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.switcher__slider {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 6px;
      top: 17px;
      border-radius: 6px;
      background-color: $color-gray-350;
    }
  }
}

.switcher__handle {
  position: absolute;
  z-index: 3;
  cursor: grab;
  top: 3px;
  width: 34px;
  height: 34px;
  border: 1px solid $color-gray-500;
  border-radius: 50%;
  background-color: $color-white;

  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1px 3px 0  rgba($color-black, 0.16);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-green;
  }
}
