@use "../utils/variables.scss" as *;

.switcher__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 49px;
  height: 30px;

  font-family: $font-accent;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
}
