.visually-hidden {
  /* stylelint-disable-next-line declaration-no-important */
  position: absolute !important;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
