@use "./fonts.scss" as *;
@use "./base.scss" as *;
@use "./blocks/page-main";
@use "./blocks/_visually-hidden";
@use "./blocks/page";
@use "./blocks/page-header";
@use "./blocks/promo";
@use "./blocks/button";
@use "./blocks/directions";
@use "./blocks/how-it-works";
@use "./blocks/example";
@use "./blocks/switcher";
@use "./blocks/location";
@use "./blocks/page-footer";
@use "./blocks/social-list";
@use "./blocks/products";
@use "./blocks/copyright";
@use "./blocks/card";
@use "./blocks/show-more";
@use "./blocks/products-additional";
@use "./blocks/card-additional";
@use "./blocks/site-menu";
@use "./blocks/special-offer";
@use "./blocks/form";
@use "./blocks/field-group";
@use "./blocks/field";
@use "./blocks/control";
@use "./blocks/logo";
